*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(0,0,0);
    background: linear-gradient(24deg, rgba(0,0,0,1) 2%, rgba(92,11,11,1) 85%);
    height: 100vh;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0;
    overflow: hidden;
}

body:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

body * {
    z-index: 1;
}

h1{
    font-size: 3.75rem;
    margin: -80px 0 40px; 
}

h2{
    font-size: 2.75rem;
    margin: -80px 0 40px; 
}

#title-main {
    margin-bottom: 5rem;
}

#title-main h1{
    text-transform: uppercase;
    font-size: 3rem;    
}

.year{
    font-size:5.5rem;
    z-index: -1;
    opacity: 0.2;
    position: absolute;
    bottom: 1.2rem;
    left: 50%;
    transform: translate(-50%);
}

.countdown{
    margin-top: 9.375rem;
    display: flex;
    transform: scale(2);
}

.time{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

h3{
    margin: 0 0 50px;
}

